.inputWrapper{
    margin-bottom: 25px;
}
.input {
    padding: 10px 17px;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    width: 100%;
    color: #FFFFFF;
    background: #4C4A66;
    border: 1px solid #F90175;
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.label {
    font-weight: 700;
    font-size: 17px;
    line-height: 22px;

    color: #FFFFFF;
    margin-bottom: 7px;
}

.subtitle {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;

    color: #FFFFFF;
}