.checkbox {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 17px;
    line-height: 22px;

    color: #FFFFFF;
    margin-bottom: 25px;
}

.checkboxInput:checked+div {
    color: #BD0159;
}

.checkboxInput {
    display: none;
}

.box {
    width: 17px;
    height: 17px;
    margin-right: 10px;
    background: #4C4A66;
    border: 1px solid #BD0159;
    border-radius: 2px;
    color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: serif;
    font-size: 12px;
}